<link rel="stylesheet" href="__PUBLIC__/css/app.comm.css">
<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="clearfix">
        <form action="{:U()}" method="GET" class="form-inline">
          <input type="hidden" name="act" value="filter">
          <input type="hidden" name="uid" value="{$_REQUEST['uid']}">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon">日期范围</span>
            <input type="text" value="" class="form-control date-range" data-stime="{$_REQUEST['stime']}" data-etime="{$_REQUEST['etime']}">
            <input type="hidden" name="stime" value="{$_REQUEST['stime']}">
            <input type="hidden" name="etime" value="{$_REQUEST['etime']}">
          </div>
          <div class="form-group">
            <select name="type" class="form-control">
              <option value="">类型</option>
<volist name="data['types']" id="v">
              <option value="{$key}"<php>echo $_REQUEST['type'] == (string)$key ? ' selected' : '';</php>>{$v}</option>
</volist>
            </select>
          </div>
          <div class="form-group">
            <select name="state" class="form-control">
              <option value="">状态</option>
<volist name="data['states']" id="v">
              <option value="{$key}"<php>echo $_REQUEST['state'] == (string)$key ? ' selected' : '';</php>>{$v}</option>
</volist>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="kwd" value="{$_REQUEST['kwd']}" placeholder="用户ID..." class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
        <div class="pull-right">
          <span class="btn btn-white">人数：{$data['cnt_user']}</span>
          <span class="btn btn-white">记录数：{$pager->totalRows}</span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>发出人</th>
              <th>接收人</th>
              <th>类型</th>
              <th>单个金额</th>
              <th>数量</th>
              <th>接收魅力</th>
              <th>状态</th>
              <th>发出时间</th>
              <th>接收时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
<volist name="data['list']" id="v">
<php>
$cls = ['','success','danger'];
$usr = $data['users'][$v['uid']];
$osr = $data['users'][$v['oid']];
</php>
            <tr class="{$cls[$v['state']] ?: 'default'}">
              <td>{$v['id']}</td>
              <td>
                <a href="{:U('view?uid='.$v['uid'])}" target="_blank" class="label label-default">{$v['uid'] ?: ''}</a>
                <b class="label label-danger">{:boolval($usr['vip_level'] && $usr['vip_valid_end'] >= time()) ? 'v' : ''}{$usr['glory_grade'] ?: ''}</b>
              </td>
              <td>
                <a href="{:U('view?uid='.$v['oid'])}" target="_blank" class="label label-default">{$v['oid'] ?: ''}</a>
                <b class="label label-danger">{:boolval($osr['vip_level'] && $osr['vip_valid_end'] >= time()) ? 'v' : ''}{$osr['glory_grade'] ?: ''}</b>
              </td>
              <td>
                {$data['types'][$v['type']]}
<if condition="$v['type'] == '3'">
                ({$data['gifts'][$v['goods_id']]['name'] ?: $data['goods'][$v['goods_id']]['name']})
</if>
              </td>
              <td>{$v['fee']}</td>
              <td>{$v['multiple']}</td>
              <td>{$v['glamour_take'] ?: $v['fee_take']}</td>
              <td>{$data['states'][$v['state']]}</td>
              <td>{$v['create_time'] ? date('Y-m-d H:i:s',$v['create_time']) : '-'}</td>
              <td>{$v['take_time'] ? date('Y-m-d H:i:s',$v['take_time']) : '-'}</td>
              <td></td>
            </tr>
</volist>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination alternate">
      <ul>
        <li style="text-align:center;color:#00f">{$page}</li>
      </ul>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/app.comm.js"></script>