<link rel="stylesheet" href="__PUBLIC__/css/app.comm.css">
<style>
.table tr td.auto-rowspan { vertical-align:middle; }
</style>
<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="clearfix">
        <form action="{:U()}" method="GET" class="form-inline pull-left">
          <input type="hidden" name="act" value="filter">
          <input type="hidden" name="uid" value="{$_REQUEST['uid']}">
          <input type="hidden" name="type" value="{$_REQUEST['type']}">
          <input type="hidden" name="rdrs_type" value="{$_REQUEST['rdrs_type']}">
          <input type="hidden" name="time_type" value="{$time_type ?: $_REQUEST['time_type']}">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon">日期范围</span>
            <input type="text" value="" class="form-control date-range" data-stime="{$_REQUEST['stime']}" data-etime="{$_REQUEST['etime']}">
            <input type="hidden" name="stime" value="{$_REQUEST['stime']}">
            <input type="hidden" name="etime" value="{$_REQUEST['etime']}">
          </div>
          <div class="form-group">
            <select name="device" class="form-control">
              <option value="">全部设备</option>
<volist name="data['devices']" id="v">
              <option value="{$key}"<php>echo $_REQUEST['device'] == (string)$key ? ' selected' : '';</php>>{$v}</option>
</volist>
            </select>
          </div>
          <div class="form-group">
            <select name="ch_id" class="form-control">
              <option value="">全部渠道</option>
<volist name="data['channels']" id="v">
              <option value="{$key}"<php>echo $_REQUEST['ch_id'] == (string)$key ? ' selected' : '';</php>>{$v['ch_name']}</option>
</volist>
            </select>
          </div>
          <div class="form-group">
            <select name="adver_id" class="form-control">
              <option value="">全部广告</option>
<php>$oss = ['安卓','IOS'];</php>
<volist name="data['advers']" id="v">
<php>$pkg = $data['packages'][$v['pkg_id']] ?: [];</php>
              <option value="{$key}"<php>echo $_REQUEST['adver_id'] == (string)$key ? ' selected' : '';</php>>{$v['name'] ?: $v['ch_serial']} ({$oss[$pkg['pkg_device']]} {$pkg['pkg_version']})</option>
</volist>
            </select>
          </div>
          <div class="form-group hide">
            <select name="pkg_id" class="form-control">
              <option value="">全部包</option>
<php>$oss = ['安卓','IOS'];</php>
<volist name="data['packages']" id="v">
              <option value="{$key}"<php>echo $_REQUEST['pkg_id'] == (string)$key ? ' selected' : '';</php>>{$oss[$v['pkg_device']]} {$v['pkg_name']} ({$v['pkg_version']})</option>
</volist>
            </select>
          </div>
          <div class="form-group">
            <select name="sex" class="form-control">
              <option value="">性别</option>
<php>$sexs = C('USER_SEX_IS');</php>
<volist name="sexs" id="v">
              <option value="{$key}"<php>echo $_REQUEST['sex'] == (string)$key ? ' selected' : '';</php>>{$v}</option>
</volist>
            </select>
          </div>
          <div class="form-group hide">
            <input type="text" name="kwd" value="{$_REQUEST['kwd']}" placeholder="用户ID..." class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
          <a href="{:U('?')}" class="btn btn-white">全部</a>
        </form>
        <div class="pull-right">
          <span class="btn btn-white">记录数：{$pager ? $pager->totalRows : count($data['list'])}</span>
        </div>
      </div>
      <div class="table-responsive">
<include file="adver_daily_inner"/>
      </div>
    </div>
    <div class="pagination alternate">
      <ul>
        <li style="text-align:center;color:#00f">{$page}</li>
      </ul>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/app.comm.js"></script>