<link rel="stylesheet" href="__PUBLIC__/css/app.comm.css">
<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="clearfix">
        <form action="{:U()}" method="GET" class="form-inline pull-left">
          <input type="hidden" name="act" value="filter">
          <input type="hidden" name="uid" value="{$_REQUEST['uid']}">
          <input type="hidden" name="type" value="{$_REQUEST['type']}">
          <input type="hidden" name="rdrs_type" value="{$_REQUEST['rdrs_type']}">
          <input type="hidden" name="ad_serial" value="{$_REQUEST['ad_serial']}">
          <input type="hidden" name="time_type" value="{$time_type ?: $_REQUEST['time_type']}">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon">日期范围</span>
            <input type="text" value="" class="form-control date-range" data-stime="{$_REQUEST['stime']}" data-etime="{$_REQUEST['etime']}">
            <input type="hidden" name="stime" value="{$_REQUEST['stime']}">
            <input type="hidden" name="etime" value="{$_REQUEST['etime']}">
          </div>
          <div class="form-group hide">
            <select name="user_type" class="form-control">
              <option value="">用户类型</option>
              <option value="0"<php>echo $_REQUEST['user_type'] == '0' ? ' selected' : '';</php>>老用户</option>
              <option value="1"<php>echo $_REQUEST['user_type'] == '1' ? ' selected' : '';</php>>新用户</option>
            </select>
          </div>
          <div class="form-group">
            <select name="sex" class="form-control">
              <option value="">性别</option>
<php>$sexs = C('USER_SEX_IS');</php>
<volist name="sexs" id="v">
              <option value="{$key}"<php>echo $_REQUEST['sex'] == (string)$key ? ' selected' : '';</php>>{$v}</option>
</volist>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
          <a href="{:U('',$all_params ?: [])}" class="btn btn-white">全部</a>
        </form>
        <div class="pull-right">
<if condition="ACTION_NAME == 'adver_stat'">
<if condition="$_REQUEST['rdrs_type'] == 'dt'">
          <a href="{:U()}" class="btn btn-success">所有数据</a>
          <a href="{:U('update_offline_daily')}" class="btn btn-primary tip" data-original-title="避免频繁操作">更新数据</a>
<else/>
          <a href="{:U('?rdrs_type=dt')}" class="btn btn-success">地推数据</a>
</if>
</if>
          <span class="btn btn-white">记录数：{$pager ? $pager->totalRows : count($data['list'])}</span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center">
          <thead>
            <tr>
              <th>类别</th>
              <th>人数</th>
              <th>合格</th>
              <th>滑动</th>
              <th>点赞</th>
              <th>曝光</th>
              <th>被赞</th>
              <th>匹配</th>
              <th>聊天</th>
            </tr>
          </thead>
          <tbody>
<volist name="data['user_types']" id="type_name">
<php>
$typ = $key;
$dat = $data ?: [];
$lst = $data['datas'] ?: [];
$cnt = $data['counts'] ?: [];
</php>
            <tr>
<php>
$rat_user = round((int)$cnt[$typ]['total_user_num'] / (int)$lst['total_users'] * 100,2);
$rat_pass = round((int)$cnt[$typ]['pass_score_user_num'] / (int)$lst['total_passs'] * 100,2);
</php>
              <td>{$type_name}</td>
              <td style="background-image:linear-gradient(to {$typ == 0 ? 'right' : 'left'},#ded {$rat_user}%,rgba(0,0,0,0) 0.01%);"><php>
echo (int)$cnt[$typ]['total_user_num'].' / '.$rat_user.'%';
</php></td>
              <td style="background-image:linear-gradient(to {$typ == 0 ? 'right' : 'left'},#ded {$rat_pass}%,rgba(0,0,0,0) 0.01%);"><php>
echo (int)$cnt[$typ]['pass_score_user_num'].' / '.$rat_pass.'%';
</php></td>
              <td><php>
$avg = round((int)$lst['slide_total_num'][$typ] / (int)$lst['slide_user_num'][$typ],2);
echo '<a href="'.U('stat_retention_detail',array_merge($_GET,['type' => 'slide','user_type' => $typ])).'">';
echo (int)$lst['slide_user_num'][$typ].' / '.$avg;
echo '</a>';
</php></td>
              <td><php>
$avg = round((int)$lst['thumb_total_num'][$typ] / (int)$lst['thumb_user_num'][$typ],2);
echo '<a href="'.U('stat_retention_detail',array_merge($_GET,['type' => 'thumb','user_type' => $typ])).'">';
echo (int)$lst['thumb_user_num'][$typ].' / '.$avg;
echo '</a>';
</php></td>
              <td><php>
$avg = round((int)$lst['been_slide_total_num'][$typ] / (int)$lst['been_slide_user_num'][$typ],2);
echo '<a href="'.U('stat_retention_detail',array_merge($_GET,['type' => 'been_slide','user_type' => $typ])).'">';
echo (int)$lst['been_slide_user_num'][$typ].' / '.$avg;
echo '</a>';
</php></td>
              <td><php>
$avg = round((int)$lst['been_thumb_total_num'][$typ] / (int)$lst['been_thumb_user_num'][$typ],2);
echo '<a href="'.U('stat_retention_detail',array_merge($_GET,['type' => 'been_thumb','user_type' => $typ])).'">';
echo (int)$lst['been_thumb_user_num'][$typ].' / '.$avg;
echo '</a>';
</php></td>
              <td><php>
$avg = round((int)$lst['match_total_num'][$typ] / (int)$lst['match_user_num'][$typ],2);
echo '<a href="'.U('stat_retention_detail',array_merge($_GET,['type' => 'match','user_type' => $typ])).'">';
echo (int)$lst['match_user_num'][$typ].' / '.$avg;
echo '</a>';
</php></td>
              <td><php>
$avg = round((int)$lst['chat_total_num'][$typ] / (int)$lst['chat_user_num'][$typ],2);
echo '<a href="'.U('stat_retention_detail',array_merge($_GET,['type' => 'chat','user_type' => $typ])).'">';
echo (int)$lst['chat_user_num'][$typ].' / '.$avg;
echo '</a>';
</php></td>
            </tr>
</volist>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination alternate">
      <ul>
        <li style="text-align:center;color:#00f">{$page}</li>
      </ul>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/app.comm.js"></script>