<div class="row-fluid">
    <div id="footer" class="span12"> 2014 &copy; 后台管理系统  </div>
</div>

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/jquery.migrate.min.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script src="__PUBLIC__/js/functions.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-bootbox.js"></script>
<script src="__PUBLIC__/js/bootstrap-dialog.js"></script>
<script src="__PUBLIC__/js/masked.js"></script>
<script src="__PUBLIC__/js/jquery.uniform.js"></script>
<script src="__PUBLIC__/js/select2.min.js"></script>
<script src="__PUBLIC__/js/matrix.js"></script>
<script src="__PUBLIC__/js/matrix.form_common.js"></script>
<!--
<script src="__PUBLIC__/js/jquery.peity.min.js"></script>
<script src="__PUBLIC__/js/spin.min.js"></script>
<script src="__PUBLIC__/js/ladda.min.js"></script>
-->
