<div id="sidebar">
    <ul>
        <!--<li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'user'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>用户管理</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'user'">style="display:block"</if>>
                <li><a href="{:U('User/index',array('type'=>1))}">所有用户</a></li>
                <li><a href="{:U('User/index',array('type'=>2))}">车辆用户</a></li>
                <li><a href="{:U('User/index',array('type'=>3))}">视频用户</a></li>
                &lt;!&ndash;<li><a href="{:U('User/add')}">添加用户</a></li>&ndash;&gt;
                <li><a href="{:U('User/test')}">phpinfo</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'car'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>车辆管理</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'car'">style="display:block"</if>>
                <li><a href="{:U('Car/index')}">汽车品牌</a></li>
                <li><a href="{:U('Car/lib')}">汽车类型</a></li>
                <li><a href="{:U('Car/license')}">车型信息</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'certificate_video'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>视频认证</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'certificate_video'">style="display:block"</if>>
                <li><a href="{:U('CertificateVideo/index',array('type'=>1))}">等待审核</a></li>
                <li><a href="{:U('CertificateVideo/index',array('type'=>2))}">认证通过</a></li>
                <li><a href="{:U('CertificateVideo/index',array('type'=>3))}">认证失败</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'certificate_car'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>车辆认证</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'certificate_car'">style="display:block"</if>>
                <li><a href="{:U('CertificateCar/index',array('type'=>1))}">等待审核</a></li>
                <li><a href="{:U('CertificateCar/index',array('type'=>2))}">认证通过</a></li>
                <li><a href="{:U('CertificateCar/index',array('type'=>3))}">认证失败</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'headimg_log'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>照片管理</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'headimg_log'">style="display:block"</if>>
            <li><a href="{:U('HeadimgLog/index')}">用户头像</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'advice'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>用户建议</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'advice'">style="display:block"</if>>
                <li><a href="{:U('Advice/index')}">未回复</a></li>
                <li><a href="{:U('Advice/reply')}">已回复</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_log'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>操作日志</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_log'">style="display:block"</if>>
                <li><a href="{:U('AdminLog/index')}">视频认证</a></li>
                <li><a href="{:U('AdminLog/car')}">车辆认证</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin'">active</if>">
            <a href="#"><i class="icon icon-th-list"></i> <span>管理员管理</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin'">style="display:block"</if>>
                <li><a href="{:U('Admin/index')}">管理员</a></li>
                <li><a href="{:U('Admin/group')}">管理员组</a></li>
            </ul>
        </li>

        <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'verify_code'">active</if>">
        <a href="#"><i class="icon icon-th-list"></i> <span>验证码管理</span> </a>
            <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'verify_code'">style="display:block"</if>>
                <li><a href="{:U('VerifyCode/index')}">查看用户验证码</a></li>
            </ul>
        </li>-->

    </ul>
</div>
