<link rel="stylesheet" href="__PUBLIC__/css/app.comm.css">
<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="clearfix">
        <form action="{:U()}" method="GET" class="form-inline pull-left{$has_filter ? '' : ' hide'}">
          <input type="hidden" name="act" value="filter">
          <input type="hidden" name="uid" value="{$_REQUEST['uid']}">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon">日期范围</span>
            <input type="text" value="" class="form-control date-range" data-stime="{$_REQUEST['stime']}" data-etime="{$_REQUEST['etime']}">
            <input type="hidden" name="stime" value="{$_REQUEST['stime']}">
            <input type="hidden" name="etime" value="{$_REQUEST['etime']}">
          </div>
          <div class="form-group{$has_filter_kwd ? '' : ' hide'}">
            <input type="text" name="kwd" value="{$_REQUEST['kwd']}" placeholder="关键词..." class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
        <div class="pull-right">
          <span class="btn btn-white">记录数：{$pager ? $pager->totalRows : count($data['list'])}</span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center">
          <thead>
            <tr>
<volist name="data['cols']" id="k">
              <th>{$k}</th>
</volist>
            </tr>
          </thead>
          <tbody>
<volist name="data['list']" id="v">
            <tr>
<volist name="data['cols']" id="k">
              <td>{$v[$k]}</td>
</volist>
            </tr>
</volist>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination alternate">
      <ul>
        <li style="text-align:center;color:#00f;">{$pager ? $pager->show() : $page}</li>
      </ul>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/app.comm.js"></script>
<script>
$(document).on('require.ready',function()
{

  $('td:contains(%)').css('background-image',function()
  {
    var the = $(this),
        txt = the.text();
    if(!txt) return false;
    if(the.find('td').length) return false;
    return 'linear-gradient(to right,#ded ' + txt + ',rgba(0,0,0,0) 0.01%)';
  });

});
</script>